body {
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
	animation: fadein 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#profile div {
	border-style: solid;
	border-color: lightslategray;
	background-color: black;
	border-radius: 10px;
	padding: 10px 0px 10px 0px;
	width: 33%;
	position: absolute;
	height:200px;
}
#profile div:nth-of-type(2) {
	left:35%;
}
#profile div:nth-of-type(3) {
	left:69.1%;
}

a {
	color: pink;
	filter: blur(3px);
	animation: blur 1s;
}
a:hover {
	animation: unblur 1s;
	animation-fill-mode: forwards;
}

@keyframes blur {
	from {
		filter: none;
		color: purple;
	}

	to {
		filter: blur(3px);
		color: pink;
	}
}

@keyframes unblur {
	from {
		filter: blur(3px);
	}

	to {
		filter: none;
		color: purple;
	}
}
