body {
	background-color: rgba(24, 24, 24);
	color: white;
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
	animation: fadein 5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

p {
	border-style: solid;
	border-color: lightslategray;
	background-color: black;
}