body {
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
	animation: fadein 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.profilebox {
	display: inline-block;
  vertical-align: top;
	width: 32%;
	height: 190px;
	background-color: black;
	border-style: solid;
	border-color: lightslategray;
	border-radius: 10px;
	padding: 10px 0px 10px 0px;
}

a {
	color: pink;
	filter: blur(3px);
	animation: blur 1s;
}
a:hover {
	animation: unblur 1s;
	animation-fill-mode: forwards;
}

@keyframes blur {
	from {
		filter: none;
		color: purple;
	}

	to {
		filter: blur(3px);
		color: pink;
	}
}

@keyframes unblur {
	from {
		filter: blur(3px);
	}

	to {
		filter: none;
		color: purple;
	}
}
